/* General Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.bg-image {
    background-image: url(../img/login.png); /* Replace with your background image URL */
    background-size: cover;
    background-position: center;
    height: 100%;
}

.login-card {
    background: rgba(255, 255, 255, 0.85);
    border: none;
    border-radius: 15px;
}

.login-card h2 {
    color: #333;
}

.login-card .form-control {
    border-radius: 10px;
    border: 1px solid #ddd;
}

.login-card .btn-primary {
    background-color: #13357b;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.login-card .btn-outline-primary,
.login-card .btn-outline-info {
    border-radius: 20px;
    padding: 5px 10px;
}

.login-card .btn-outline-primary {
    border-color: #3b5998;
    color: #3b5998;
}

.login-card .btn-outline-info {
    border-color: #00aced;
    color: #00aced;
}


#errorMsg {
 display: block;
 height: 7px;
 color: red;
 
}
